.on-circle-container{
  position: relative;
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 50%;

  .on-circle{
    position: absolute;
    background-color: #ccc;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.angle-slider-container{
  margin-top: 1rem;
  width: 100px;
  height: 10px;
  border: 1px solid #17171777;
  position: absolute;

  .angle-controller{
    height: 14px;
    width: 14px;
    background-color: #171717aa;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}